import { defineTask } from '@netscript/plugin-workers-core';

export const {{exportName}} = defineTask('{{id}}')
  .runtime('deno')
  .entrypoint('{{entrypoint}}')
  .timeout({{timeoutMs}})
  .retry({{maxRetries}})
  .build();
